In [38]:
import pandas as pd
import numpy as np

In [39]:
from datetime import date, timedelta
import time
from datetime import date

dates = []

startyear = "2017"
startmonth = "01"
startday = "31"
endyear = "2019"
endmonth = "03"
endday = "01"
startdate = date(int(startyear), int(startmonth), int(startday))
while startdate < date(int(endyear), int(endmonth), int(endday)):
    dates.append(startdate)
    startdate += timedelta(days=1)
dates_array = np.asarray(dates)

In [40]:
df = pd.DataFrame(columns=['date','1', '2', '3', '4', '5', '6', 'total'])

In [41]:
df["date"] = dates_array

In [42]:
print(df['date'])

0      2017-01-31
1      2017-02-01
2      2017-02-02
3      2017-02-03
4      2017-02-04
5      2017-02-05
6      2017-02-06
7      2017-02-07
8      2017-02-08
9      2017-02-09
10     2017-02-10
11     2017-02-11
12     2017-02-12
13     2017-02-13
14     2017-02-14
15     2017-02-15
16     2017-02-16
17     2017-02-17
18     2017-02-18
19     2017-02-19
20     2017-02-20
21     2017-02-21
22     2017-02-22
23     2017-02-23
24     2017-02-24
25     2017-02-25
26     2017-02-26
27     2017-02-27
28     2017-02-28
29     2017-03-01
          ...
729    2019-01-30
730    2019-01-31
731    2019-02-01
732    2019-02-02
733    2019-02-03
734    2019-02-04
735    2019-02-05
736    2019-02-06
737    2019-02-07
738    2019-02-08
739    2019-02-09
740    2019-02-10
741    2019-02-11
742    2019-02-12
743    2019-02-13
744    2019-02-14
745    2019-02-15
746    2019-02-16
747    2019-02-17
748    2019-02-18
749    2019-02-19
750    2019-02-20
751    2019-02-21
752    2019-02-22
753    2019-02-23
754    2019-02-24
755    2019-02-25
756    2019-02-26
757    2019-02-27
758    2019-02-28
Name: date, Length: 759, dtype: object

In [47]:
df['1'] = np.random.randint(1, 21, df.shape[0])
df['2'] = np.random.randint(1, 21, df.shape[0])
df['3'] = np.random.randint(1, 21, df.shape[0])
df['4'] = np.random.randint(1, 21, df.shape[0])
df['5'] = np.random.randint(1, 21, df.shape[0])
df['6'] = np.random.randint(1, 21, df.shape[0])

In [48]:
df['total']=df['1']+df['2']+df['3']+df['4']+df['5']+df['6']

In [65]:
df

           date   1   2   3   4   5   6  total
0    2017-01-31  12  10  18   8  19   5     72
1    2017-02-01  20  11  11  18  16  14     90
2    2017-02-02  10   1  11  12  10  20     64
3    2017-02-03  20   6   1  15   1   8     51
4    2017-02-04  15  15   5   1   6  11     53
5    2017-02-05  20  17   8  13   6   5     69
6    2017-02-06  18  17   7  17   9  14     82
7    2017-02-07   6  19   8  14  12   9     68
8    2017-02-08   9  19  12  10   6   8     64
9    2017-02-09   7   4   6   7   8  19     51
10   2017-02-10  10  17  12   1   3   6     49
11   2017-02-11   6  13  18  20   3  16     76
12   2017-02-12  12   5   9  10   9  15     60
13   2017-02-13   9   9   6   3  10  19     56
14   2017-02-14   2  14  14   3  13   2     48
15   2017-02-15  13  16  12   4  10  15     70
16   2017-02-16  19   4  14   4  13  17     71
17   2017-02-17  20  16  13   8  19   2     78
18   2017-02-18   9   8   2   3  14  14     50
19   2017-02-19   6  12  15  17   1  18     69
20   2017-02-20   5  16   8   9  18   9     65
21   2017-02-21  16   4   9   8  15  17     69
22   2017-02-22  20  12   2  19   6  10     69
23   2017-02-23  16  16   7   1   4  13     57
24   2017-02-24  19  18  15   4   8   5     69
25   2017-02-25  13   1  15  19  19  14     81
26   2017-02-26  14   5  13  10   3   6     51
27   2017-02-27   4   1  15   9  14  15     58
28   2017-02-28  13   7  12  13   3  19     67
29   2017-03-01   2  16  15   6  11  19     69
..          ...  ..  ..  ..  ..  ..  ..    ...
729  2019-01-30  16   8   8  20  10  16     78
730  2019-01-31  10  20  15  17   8  17     87
731  2019-02-01  11  17   1  10  17   4     60
732  2019-02-02   5  18  10   8  20  13     74
733  2019-02-03  20  15   1   2  16   1     55
734  2019-02-04   2  17  20  18   9   9     75
735  2019-02-05   6   4   5  13   2   6     36
736  2019-02-06  19   3  13   1   1   2     39
737  2019-02-07  20   1  20  12  10   5     68
738  2019-02-08   5  14  20  14   1   1     55
739  2019-02-09  14  19   5   9  20   1     68
740  2019-02-10  16   4  15   4  17  14     70
741  2019-02-11  19  10  14  18   6   7     74
742  2019-02-12   5  11   5  15   4  12     52
743  2019-02-13   3  10  18   5   8  19     63
744  2019-02-14  14  20   9  12   2  16     73
745  2019-02-15   3  13  10   2  17   4     49
746  2019-02-16  19   4  12  18  15  15     83
747  2019-02-17  12  19   5   2  16  15     69
748  2019-02-18   2   1   5  16  14   1     39
749  2019-02-19  14   6   4  19   2   2     47
750  2019-02-20   3   2   6  20   2  12     45
751  2019-02-21  17   1   5   9  11   1     44
752  2019-02-22  14  12  13  19  15  15     88
753  2019-02-23   8  13   1   3  12  18     55
754  2019-02-24   9   2   6   1   9  18     45
755  2019-02-25  12  12  17   7  10  15     73
756  2019-02-26  19  16  15  20   9   3     82
757  2019-02-27   8  13  18  18  18   9     84
758  2019-02-28  15  12  14  18  14   9     82

[759 rows x 8 columns]

In [64]:
export_csv = df.to_csv ('daily_data.csv', index = None, header=True)

In [51]:
df1 = pd.DataFrame(columns=['quarter','year','1', '2', '3', '4', '5', '6', 'total'])

In [52]:
df1['quarter']=[1,2,3,4,1,2,3,4,1]

In [55]:
df1['year']=[2017,2017,2017,2017,2018,2018,2018,2018,2019]

In [60]:
df1['1'] = np.random.randint(1, 21, df1.shape[0])
df1['2'] = np.random.randint(1, 21, df1.shape[0])
df1['3'] = np.random.randint(1, 21, df1.shape[0])
df1['4'] = np.random.randint(1, 21, df1.shape[0])
df1['5'] = np.random.randint(1, 21, df1.shape[0])
df1['6'] = np.random.randint(1, 21, df1.shape[0])
df1['total']=df1['1']+df1['2']+df1['3']+df1['4']+df1['5']+df1['6']

In [66]:
df1

   quarter  year   1   2   3   4   5   6  total
0        1  2017   2   9  14   1  15  10     51
1        2  2017   6  14  10   4   4  13     51
2        3  2017  16  17  13   5  13  16     80
3        4  2017   7  13  19   5   1  19     64
4        1  2018   6   8   2   8  13  19     56
5        2  2018  13  11  17   1   9  15     66
6        3  2018   9   4   5  18  12  16     64
7        4  2018  11   9   8   3   5  15     51
8        1  2019  14  11  18  20  16  20     99

In [67]:
export_csv = df1.to_csv ('quarterly_data.csv', index = None, header=True)